<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./../includes/meta.html')
</head>
<body>

  <a class="container" href="%clickurl_1%" target="_blank">
    <div class="background-2">
      <div class="image"></div>
    </div>
    <div class="background"></div>
    <div class="screen-2"></div>

    <div class="background-left">
      <div class="background-left--grad"></div>

    </div>
    <div class="background-right">
      <div class="background-right--grad"></div>
    </div>

    <div class="screen-1"></div>

    <div class="viruses">
      <!-- <div class="virus virus-2"></div> -->
      <!-- <div class="virus virus-3"></div> -->
      <div class="virus virus-1">
        <div class="virus-text-top"></div>
        <div class="virus-text-bottom"></div>
        <div class="crossed"></div>
      </div>
    </div>
    <div class="bacteries">
      <!-- <div class="bactery bactery-2"></div> -->
      <!-- <div class="bactery bactery-3"></div> -->
      <div class="bactery bactery-1">
        <div class="bactery-text-top"></div>
        <div class="bactery-text-bottom"></div>
        <div class="crossed"></div>
      </div>
    </div>

    <div class="grad"></div>

    <div class="wave">
      <div class="text-protivopok"></div>
      <div class="text-risk"></div>
    </div>

    <div class="text-ot"></div>
    <div class="text-phone"></div>
    <div class="text-protivopok-2"></div>

    <div class="pack-0"></div>
    <div class="pack-2"></div>
    <div class="pack-1"></div>

    <div class="end-screen">
      <div class="logo"></div>
    </div>

    <div class="text-protivopok-2"></div>

  </a>

  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
