.banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 250px;
  max-height: 250px;

  background-color: #cff;
}


.background {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 40%;
  height: 80%;

  background: url('../assets/images/cat.jpg') 50% 50% no-repeat;
  background-size: contain;
}


