<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./../includes/meta.html')
</head>
<body>

  <a class="container" href="%clickurl_1%" target="_blank">
    <div class="background"></div>

    <div class="gray-screen"></div>

    <div class="panel"></div>

    <div class="palto"></div>
    <div class="isoo"></div>
    <div class="price"></div>
    <div class="lamoda"></div>
    <div class="jacket"></div>

    <div class="techno"></div>
    <div class="aws"></div>
    <div class="membr"></div>
    <div class="c8050"></div>


    <div class="logo"></div>


  </a>

  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
